---
import InstagramIcon from "../../public/iconos/InstagramIcon.astro";
import LinkedInIcon from "../../public/iconos/LinkedInIcon.astro";
import IconLink from "./IconLink.astro";
import WhatsappFloating from "./Whatsapp";

const socialLinks = [
    {
        icon: LinkedInIcon,
        link: "https://www.linkedin.com/in/dante-yepez-1a735371/",
    },
    {
        icon: InstagramIcon,
        link: "https://www.instagram.com/espagnol_hispanocurso/?igshid=YmMyMTA2M2Y%3D",
    },
];
const currentYear = new Date().getFullYear();
---

<footer class="relative bg-blueGray-200 pt-8 pb-6">
    <div class="absolute">
        <WhatsappFloating client:load />
    </div>
    <div class="container mx-auto px-4">
        <div class="flex flex-wrap text-left lg:text-left">
            <div class="w-full lg:w-6/12 px-4">
                <div class="">
                    <img
                        src="/images/logo-hispano-color.png"
                        class="h-32 dark:hidden w-full object-contain"
                        alt="Logo Hispano Claro"
                    />
                    <img
                        src="/images/logo-hispano-color-white.png"
                        class="h-32 hidden dark:block w-full object-contain"
                        alt="Logo Hispano Oscuro"
                    />
                </div>
                <h5
                    class="text-lg mt-0 mb-2 text-grayMedium dark:text-white/90 text-center"
                >
                    Bienvenidos al mundo del español
                </h5>

                <div class="mt-6 lg:mb-0 mb-6">
                    <div class="flex space-x-4 justify-center">
                        {
                            socialLinks.map(({ icon, link }) => (
                                <IconLink icon={icon} link={link} />
                            ))
                        }
                    </div>
                </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
                <div class="flex flex-wrap items-top mb-6 justify-end">
                    <div class="w-full lg:w-4/12 px-4">
                        <span
                            class="block uppercase text-blueGray-500 text-sm font-bold mb-2 text-yellowSecondary"
                            >Liens utiles</span
                        >
                        <ul
                            class="list-unstyled text-grayMedium dark:text-white/80"
                        >
                            <li>
                                <a
                                    class="text-grayMedium dark:text-white dark:hover:text-yellowSecondary hover:text-yellowSecondary font-semibold block pb-2 text-sm"
                                    href="/">D'accueil</a
                                >
                            </li>
                            <li>
                                <a
                                    class="text-grayMedium dark:text-white dark:hover:text-yellowSecondary hover:text-yellowSecondary font-semibold block pb-2 text-sm"
                                    href="/sur-moi"
                                >
                                    A propos de moi</a
                                >
                            </li>
                            <li>
                                <a
                                    class="text-grayMedium dark:text-white dark:hover:text-yellowSecondary hover:text-yellowSecondary font-semibold block pb-2 text-sm"
                                    href="/cours">Cours</a
                                >
                            </li>
                            <li>
                                <a
                                    class="text-grayMedium dark:text-white dark:hover:text-yellowSecondary hover:text-yellowSecondary font-semibold block pb-2 text-sm"
                                    href="/contactez">Contactez-nous</a
                                >
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-6 border-blueGray-300" />
        <div
            class="flex flex-wrap items-center md:justify-between justify-center"
        >
            <div class="w-full md:w-4/12 px-4 mx-auto text-center">
                <div
                    class="text-sm text-brownDark dark:text-white font-semibold py-1"
                >
                    Hispano Curso {currentYear}
                </div>
            </div>
        </div>
    </div>
</footer>
