---
import ThemeToggle from "./ThemeToggle.astro";
import WhatsappFloating from "./Whatsapp";

const navItems = [
    {
        title: "D'accueil",
        label: "daccueil",
        url: "/",
    },
    {
        title: "A propos de moi",
        label: "sur-moi",
        url: "/sur-moi",
    },

    {
        title: "Contactez-nous",
        label: "contactez",
        url: "/contactez",
    },
];
---

<header
    class="md:fixed relative top-0 z-10 flex flex-col md:flex-row items-center justify-center mt-2 p-2 md:p-3 mx-auto w-full"
    style="z-index: 999"
>
    <nav
        class="flex justify-center items-center bg-white border-gray-200 dark:bg-gray-900 dark:border-gray-700 rounded-md md:rounded-full w-full md:w-auto"
    >
        <div
            class="max-w-screen-xl flex items-center justify-between mx-auto px-4 py-2 rounded-lg flex-col md:flex-row w-full"
        >
            <div
                class="flex flex-row md:flex-col justify-between items-center align-middle w-full md:w-auto"
            >
                <div class="mb-4 md:mb-0 md:mr-4 flex justify-center">
                    <a href="/">
                        <img
                            src="/images/logo-hispano-color.png"
                            class="h-12 object-contain dark:hidden"
                            alt="Logo Hispano Claro"
                        />
                        <img
                            src="/images/logo-hispano-color-white.png"
                            class="h-12 object-contain hidden dark:block"
                            alt="Logo Hispano Oscuro"
                        />
                    </a>
                </div>
                <button
                    data-collapse-toggle="navbar-dropdown"
                    type="button"
                    class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                    aria-controls="navbar-dropdown"
                    aria-expanded="false"
                >
                    <span class="sr-only">Open main menu</span>
                    <svg
                        class="w-5 h-5"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 17 14"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M1 1h15M1 7h15M1 13h15"></path>
                    </svg>
                </button>
            </div>

            <div
                class="flex flex-col md:flex-row w-full rounded-lg"
                id="navbar-dropdown"
            >
                <ul
                    class="w-100 overflow-auto flex flex-col md:flex-row items-center"
                >
                    <li>
                        <a
                            href={"/"}
                            class="font-semibold w-100 max-w-fit min-w-fit relative block px-4 py-2 transition text-grayDark dark:text-white hover:text-yellowSecondary dark:hover:text-yellowSecondary"
                        >
                            Accueil
                        </a>
                    </li>
                    <li>
                        <a
                            href={"/sur-moi"}
                            class="font-semibold w-100 max-w-fit min-w-fit relative block px-4 py-2 transition text-grayDark dark:text-white hover:text-yellowSecondary dark:hover:text-yellowSecondary"
                        >
                            À propos de moi
                        </a>
                    </li>
                    <li>
                        <button
                            id="dropdownNavbarLink"
                            data-dropdown-toggle="dropdownNavbar"
                            class="font-semibold flex items-center align-middle w-100 max-w-fit min-w-fit relative px-4 py-2 transition text-grayDark dark:text-white hover:text-yellowSecondary dark:hover:text-yellowSecondary"
                            >Cours <svg
                                class="w-2.5 h-2.5 ms-2.5"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 10 6"
                            >
                                <path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="m1 1 4 4 4-4"></path>
                            </svg></button
                        >
                        <div
                            id="dropdownNavbar"
                            class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
                        >
                            <ul
                                class="py-2 text-sm text-gray-700 dark:text-gray-400"
                                aria-labelledby="dropdownLargeButton"
                            >
                                <li>
                                    <a
                                        href="/cours/cours-individual"
                                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                        >Cours Individuels</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="/cours/cours-grupal"
                                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                        >Cours en Groupe</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="/cours/cours-online"
                                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                        >Cours Online</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="/cours/cours-enterprises"
                                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                        >Cours pour Entreprise</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a
                            href={"/contactez"}
                            class="font-semibold w-100 max-w-fit min-w-fit relative block px-4 py-2 transition text-grayDark dark:text-white hover:text-yellowSecondary dark:hover:text-yellowSecondary"
                        >
                            Contactez-nous
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<script>
    document.addEventListener("astro:page-load", () => {
        const sections = document.querySelectorAll("section");
        const navItems = document.querySelectorAll("header nav a");

        const callback = (entries: any[]) => {
            entries.forEach((entry) => {
                if (entry.isIntersecting) {
                    navItems.forEach((item) => {
                        if (
                            item.getAttribute("aria-label") == entry.target.id
                        ) {
                            item.classList.add("text-blue-500");
                        } else {
                            item.classList.remove("text-blue-500");
                        }
                    });
                }
            });
        };

        const observer = new IntersectionObserver(callback, {
            root: null,
            rootMargin: "0px",
            threshold: 0.3,
        });

        sections.forEach((section) => {
            observer.observe(section);
        });

        document.onvisibilitychange = () => {
            if (document.visibilityState === "hidden") {
                observer.disconnect();
            } else {
                sections.forEach((section) => {
                    observer.observe(section);
                });
            }
        };
    });
</script>

<style>
    nav {
        animation: nav-shadown 1s linear both;
        animation-timeline: scroll();
        animation-range: 0 100px;
    }

    nav {
        @apply dark:bg-brownDark bg-white/80;
    }

    @keyframes nav-shadown {
        0% {
            @apply dark:bg-gray-800/0 bg-white/100;
        }
        to {
            @apply shadow-lg ring-1 backdrop-blur ring-white/10;
        }
    }
</style>
