---
import { ClientRouter } from "astro:transitions";
import Background from "../components/Background.astro";
import BigSection from "../components/BigSection.astro";
import Footer from "../components/Footer.astro";
import ContactForm from "../components/FormContact";
import Header from "../components/Header.astro";
import Testimonios from "../components/Testimonios";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/iconos/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Hispano Curso</title>
		<link rel="stylesheet" href="/src/styles/global.css" />
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"
		></script>
	</head>
	<body>
		<Background />
		<Header />
		<slot />

		<Footer />
	</body>
</html>

<style>
	html {
		scroll-behavior: smooth;
	}

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
</style>

<script type="module">
	import "../../node_modules/flowbite";
</script>
